@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.CodeMirror {
  height: 300px !important;
  color: #fff !important;

}

.CodeMirror-gutters {
  background: black !important;
  /* border: 2px solid red; */

}

.CodeMirro-scroll {
  background: "#1dle22" !important;
  /* border: 2px solid red; */


}